:root {
    --color-blue-10: #06bee1;
    --color-blue-20: #2b80d1;
    --color-blue-30: #00538d;
    --color-blue-40: #004688;
    --color-blue-45: #004d97;
    --color-blue-50: #002f53;
    --color-light-blue-25: #bbedf6;
    --color-light-blue-30: #f1f5f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--color-blue-45);
}

ul {
    list-style-type: none;
}

body {
    min-width: 400px;
    min-height: 500px;
    color: #fff;
}

.container {
    margin: 0 .5rem;
}



/*---------------
    Logo space
---------------*/

#logo-space {
    align-items: center;
    background: var(--color-blue-10);
    cursor: pointer;
    color: var(--color-blue-40);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo h1 {
    font-size: 1rem;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
}

/*---------------
    Tab space
---------------*/

#tab-space {
    height: 400px;
}

input {
    width: 100%;
    padding: .5rem .7rem;
    border: 1px solid var(--color-blue-40);
    margin: .5rem 0;
}

input:focus {
    background: var(--color-light-blue-30)   
}

button {
    background: var(--color-blue-30);
    border: 1px solid var(--color-blue-30);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: .5rem .7rem;
    text-transform: uppercase;
}

button:hover {
    background: var(--color-blue-20);
}

#delete-btn {
    background: #fff;
    color: var(--color-blue-30);
}

#delete-btn:hover {
    background: var(--color-light-blue-30);
}

.item {
    margin: .7rem .5rem;
    font-size: 1rem;
}

/*---------------
    COLLECTION space
---------------*/

#collection-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--color-blue-45);
}

#collection-bar li {
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: .7rem .5rem;
    text-align: center;
}

#collection-bar li:hover {
    background: var(--color-blue-20);
}

.is-active {
    color: var(--color-blue-10);
}